@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


@font-face {
    font-family: 'Ubuntu-regular-medium';
    src: url('../fonts/ubuntu-fonts/Ubuntu-regular-medium/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/ubuntu-fonts/Ubuntu-regular-medium/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



body {
    margin: 0;
    font-family: 'Ubuntu-regular-medium', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #0bbd49;
    transition: 800ms linear;
}

a:hover {
    text-decoration: none;
    color: #3ad606;
    transition: 600ms linear;
}

.selected-link {
    color: #035c03;
}

header {
    font-size: 20px;
    display: flex;
    background: rgb(242,121,255);
    background: linear-gradient(90deg, rgba(242,121,255,1) 0%,
                rgba(247,176,255,1) 50%, rgba(242,121,255,1) 100%);
    height: 150px;
    border-bottom: 4px solid #fcb8fb;
    /*box-shadow: inset 0.1em -0.1em 10.09em rgb(140, 140, 110),
                     -0.1em 0.1em 0.09em rgb(140, 140, 110);*/
}

header nav {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
}

.big-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 3px solid black;
}

nav div p:first-child {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav div a:first-child {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav a p {
    margin: 0;
}

nav div {
    display: flex;
}

.cats_div_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.wrapper_for_cats_bar {
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.style-for-categories-icons {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    box-shadow: inset 0.1em 0.1em .3em #E7E7E7, inset -0.11em -0.11em .3em #B9B9B9;
    border-radius: 50px;
    transition: 1s linear;
}

.photo-card-of-product {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product img {
    height: 75px;
}

.text-align-center {
    text-align: center;
}

.card-of-product-inside {
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 50%;
}

.card-of-product-outside {
    justify-content: center;
    width: 100%;
    display: flex;

}

article {
    margin: 5px;
}

article:first-child {
    padding-top: 15px;
    border-top: 2px solid black;
}
article:last-child {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

footer {
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    background: rgb(10,0,82);
    background: linear-gradient(0deg, rgba(10,0,82,1) 30%, rgba(206,0,255,1) 100%);
}