{% extends 'app1/base.html' %}


{% block title %}Book Shop{% endblock %}
{% block content %}
    {% for book in books_lst %}
        <section class="product">
            <object class="photo-card-of-product">
                <a href="{% url 'chosen-book' book.book_slug book.book_id %}">
                    <div class="card">
                        <img src="{{ media_url }}{{ book.book_img }}">
                    </div>
                </a>
            </object>
            <object class="card-of-product-outside">
                <object class="card-of-product-inside">
                    <section class="ultra-section">
                        <article class="float-left">{{ book.current_price }} ₽</article>
                    </section>
                    <section class="book_name">
                        <article>{{ book.book_name }}</article>
                    </section>
                    <section class="ultra-section">
                        <article class="float-left">Автор</article>
                        <article class="float-right">Зумбар</article>
                    </section>
                    <section class="ultra-section">
                        <article class="float-left">Категория</article>
                        <article class="float-right">{{ book.book_category }}</article>
                    </section>
                    <section class="ultra-section">
                        <article class="float-left">Жанр</article>
                        <article class="section-genre">
                            {% for genre in book.book_genre %}
                                <div class="div-genre-index">
                                    {{ genre }}
                                </div>
                            {% endfor %}
                        </article>
                    </section>
                </object>
                <section class="rating-section">
                    <article class="float-left">Рейтинг</article>
                    <article class="float-right">4.3</article>
                </section>
            </object>
        </section>
    {% endfor %}
{% endblock %}