{% load static %}
{% for i in header_menu %}
    <div>
        {% if i.title == title %}
            {% if title == 'Book Shop' %}
                <p class="selected-link" style="font-size: 50px; margin-right: 10px;">
                    {{ i.title }}
                    <img class="big-img" style="margin-left: 10px;" src="{% static 'app1/images/моя рожа.jpg' %}">
                </p>
            {% else %}
                <p class="selected-link">{{ i.title }}</p>
            {% endif %}
        {% else %}
            {% if 'Book Shop' == i.title %}
                <a href="{% url i.url_name %}">
                    <p style="font-size: 50px; margin-right: 10px;">
                        {{ i.title }}
                    </p>
                    <img class="big-img" src="{% static 'app1/images/моя рожа.jpg' %}">
                </a>
            {% else %}
                {% if i.title == 'Products' %}
                    <a href="{% url i.url_name 0 %}">
                        {{ i.title }}
                    </a>
                {% else %}
                    <a href="{% url i.url_name %}">
                        {{ i.title }}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
