{% load static %}


{% for link in header_menu %}
    <div class="link-of-header-menu__wrapper">
        {% if link.title == title %}
            {% if title == 'Book Shop' %}
                <p class="selected-link">Book Shop<img src="{% static 'app1/images/лого книжного магазина.jpg' %}" class="big-img"></p>
            {% elif title != 'Book Shop' %}
                <p class="selected-link">{{ link.title }}</p>
            {% endif %}
        {% elif link.title != title %}
            {% if link.title == 'Book Shop' %}
                <a href="{% url 'index' %}">Book Shop<img src="{% static 'app1/images/лого книжного магазина.jpg' %}" class="big-img"></a>
            {% else %}
                <a href="{% url link.url_name %}">{{ link.title }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}